@{
    ViewData["Title"] = "Добро пожаловать";
}
<h2>Добро пожаловaть в FitLog</h2>

<p><a href="/Views/Account/Register.cshtml">Регистрация</a> | <a href="~/Views/Account/Login.cshtml">Вход</a></p>

