@model FitLog.Models.ViewModels.LoginVM
<h2>Вход</h2>

<form method="post">
    <label>Email:</label>
    <input asp-for="Email" />
    <label>Пароль:</label>
    <input asp-for="Password" type="password" /><br /><br />
    <button type="submit">Войти</button>

</form>
<p><a href="/Views/Account/Register.cshtml">Создать акканут</a></p>
@if (!ViewData.ModelState.IsValid)
{
    <ul>
        @foreach (var e in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <li>@e.ErrorMessage</li>
        }
    </ul>
}